body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  text-align: center;
}
header {
  background-color: #4CAF90;
  color: white;
  padding: 20px;
}
nav a {
  margin: 15px;
  text-decoration: none;
  color: #4CAF0;
}
nav a:hover {
  text-decoration: underline;
}
main {
  padding: 20px;
  font-size: 1.2em;
}
p {border-radius: 15px;}
